
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}

body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}
/*left side nav bar*/
.bgimg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('img/IMG-20170813-WA0022.jpg');
    min-height: 100%;
}
/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
    background-image: url('img/Blend_1_20170908_13_49_45.png');
    min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
    background-image: url("img/2017-05-28-17-14-07-476.jpg");
    min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
    background-image: url("img/2017-04-30-15-06-24-408 (1).jpg");
    min-height: 400px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}
/*toggle nav bar*/

/**
 * Completely image-less CSS3 animated navigation
 */


a {
  color: #333;
  text-decoration: none;
  border-bottom: 1px solid rgba(32, 223, 128, 0.5);
}
a:hover {
  border-color: #20df80;
}

.branding {
  font: 3em/.5 '';
  color: #20df80;
  text-shadow: 0 1px #107040;
}

.nav {
  background: white;
  text-align: center;
  border-top: 5px solid;
  width: 150px;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 2em;
  -webkit-transform: translate3D(0, -95%, 0);
          transform: translate3D(0, -95%, 0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.5, 0, 0, 1.5);
  transition: -webkit-transform 0.5s cubic-bezier(0.5, 0, 0, 1.5);
  transition: transform 0.5s cubic-bezier(0.5, 0, 0, 1.5);
  transition: transform 0.5s cubic-bezier(0.5, 0, 0, 1.5), -webkit-transform 0.5s cubic-bezier(0.5, 0, 0, 1.5);
  -webkit-filter: drop-shadow(0 0.15em 0.1em rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0 0.15em 0.1em rgba(0, 0, 0, 0.25));
}
.nav:hover {
  -webkit-transform: translate3D(0, 0, 0);
          transform: translate3D(0, 0, 0);
}
.nav::before, .nav::after {
  content: '';
  display: block;
  position: absolute;
}
.nav::before {
  background: #20df80;
  width: 100%;
  height: 15%;
  top: -15%;
}
.nav::after {
  top: 100%;
  border-width: 30px 75px 0 75px;
  border-color: white transparent;
  border-style: solid;
}

.nav ul {
  list-style: none;
  padding: 0;
}

.nav ul li {
  padding: 10px 0;
}
/*hover animation */
@import url(https://fonts.googleapis.com/css?family=Martel+Sans:200,300,400,800,900);
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}



section {
  height: 763px;
  width: 100%;
  box-shadow: 0px 0px 146px 21px rgba(0, 0, 0, 0.75);
  background-color: red;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  overflow: hidden;
  margin: 0 auto 0px;
}
section a {
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  font-size: 4.875em;
  font-weight: 900;
  color: #fff;
}
section a:after, section a:before {
  content: '';
}
section.head {
  background-image: url('img/Blend_1_20170908_14_00_52.png');
  position: relative;
  z-index: 10;
}
section.head a {
  width: 652px;
  height: 78px;
  line-height: 78px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -326px;
  margin-top: -39px;
  font-weight: 200;
  
  -webkit-transition: all 2s cubic-bezier(0.21, 1, 0.84, 1.01);
  -moz-transition: all 2s cubic-bezier(0.21, 1, 0.84, 1.01);
  transition: all 2s cubic-bezier(0.21, 1, 0.84, 1.01);
}
section.head a:before, section.head a:after {
  color: #000;
  font-weight: 900;
  font-size: 30px;
  text-transform: none;
  display: block;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  transition: inherit;
}
section.head a:before {
  content: attr(data-bf);
  position: absolute;
  top: -45px;
  left: -5px;
}
section.head a:after {
  content: attr(data-af);
  position: absolute;
  right: 0;
  bottom: -30px;
}
section.head a:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}
section.head a:hover:before {
  -webkit-transform: scale(1.2) translate(-25px, -15px);
  -moz-transform: scale(1.2) translate(-25px, -15px);
  -ms-transform: scale(1.2) translate(-25px, -15px);
  -o-transform: scale(1.2) translate(-25px, -15px);
  transform: scale(1.2) translate(-25px, -15px);
}
section.head a:hover:after {
  -webkit-transform: scale(1.2) translate(25px, 15px);
  -moz-transform: scale(1.2) translate(25px, 15px);
  -ms-transform: scale(1.2) translate(25px, 15px);
  -o-transform: scale(1.2) translate(25px, 15px);
  transform: scale(1.2) translate(25px, 15px);
}

/*img hover pop up with sider*/


.wrap
{
  margin:50px auto 0 auto;
  width:100%;
  display:flex;
  align-items:space-around;
  max-width:1200px;
}
.tile
{
  width:380px;
  height:380px;
  margin:10px;
  background-color:#99aeff;
  display:inline-block;
  background-size:cover;
  position:relative;
  cursor:pointer;
  transition: all 0.4s ease-out;
  box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.44);
  overflow:hidden;
  color:white;
  font-family:'Roboto';
  
}
.tile img
{
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:0;
  transition: all 0.4s ease-out;
}
.tile .text
{
/*   z-index:99; */
  position:absolute;
  padding:30px;
  height:calc(100% - 60px);
}
.tile h1
{
 
  font-weight:300;
  margin:0;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}
.tile h2
{
  font-weight:100;
  margin:20px 0 0 0;
  font-style:italic;
   transform: translateX(200px);
}
.tile p
{
  font-weight:300;
  margin:20px 0 0 0;
  line-height: 25px;
/*   opacity:0; */
  transform: translateX(-200px);
  transition-delay: 0.2s;
}
.animate-text
{
  opacity:0;
  transition: all 0.6s ease-in-out;
}
.tile:hover
{
/*   background-color:#99aeff; */
box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.64);
  transform:scale(1.05);
}
.tile:hover img
{
  opacity: 0.2;
}
.tile:hover .animate-text
{
  transform:translateX(0);
  opacity:1;
}
.dots
{
  position:absolute;
  bottom:20px;
  right:30px;
  margin: 0 auto;
  width:30px;
  height:30px;
  color:currentColor;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-around;
  
}

.dots span
{
    width: 5px;
    height:5px;
    background-color: currentColor;
    border-radius: 50%;
    display:block;
  opacity:0;
  transition: transform 0.4s ease-out, opacity 0.5s ease;
  transform: translateY(30px);
 
}

.tile:hover span
{
  opacity:1;
  transform:translateY(0px);
}

.dots span:nth-child(1)
{
   transition-delay: 0.05s;
}
.dots span:nth-child(2)
{
   transition-delay: 0.1s;
}
.dots span:nth-child(3)
{
   transition-delay: 0.15s;
}


@media (max-width: 1000px) {
  .wrap {
   flex-direction: column;
    width:400px;
  }
}
/*3d card img*/
@import url("https://fonts.googleapis.com/css?family=Amaranth|Dancing+Script");


.heading {
  text-align: center;
  color: #fff;
  font-size: 60px;
  font-family: 'Amaranth', sans-serif;
}

.card {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 0 auto;
  padding: 50px 20px 0;
}

.card__item {
  width: 29%;
  margin: 10px 20px;
}

.card__item-title {
  text-align: center;
  color: #fff;
  font-weight: normal;
  font-size: 20px;
  letter-spacing: 1px;
}

.atvImg {
  border-radius: 5px;
  transform-style: preserve-3d;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
  height: 350px;
  display: inline-block;
}
.atvImg img {
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(14, 21, 47, 0.25);
}

.atvImg-container {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  transition: all 0.2s ease-out;
}
.atvImg-container.over .atvImg-shadow {
  box-shadow: 0 45px 100px rgba(14, 21, 47, 0.4), 0 16px 40px rgba(14, 21, 47, 0.4);
}

.atvImg-layers {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  transform-style: preserve-3d;
}

.atvImg-rendered-layer {
  position: absolute;
  width: 104%;
  height: 104%;
  top: -2%;
  left: -2%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: cover;
  transition: all 0.1s ease-out;
}

.atvImg-shadow {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  transition: all 0.2s ease-out;
  box-shadow: 0 8px 30px rgba(14, 21, 47, 0.6);
}

.atvImg-shine {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 5px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 60%);
}
/*slide up img viewer*/

@font-face {
    font-weight: normal;
	font-style: normal;
	font-family: 'feathericons';
	src:url('../fonts/feathericons/feathericons.eot?-8is7zf');
	src:url('../fonts/feathericons/feathericons.eot?#iefix-8is7zf') format('embedded-opentype'),
		url('../fonts/feathericons/feathericons.woff?-8is7zf') format('woff'),
		url('../fonts/feathericons/feathericons.ttf?-8is7zf') format('truetype'),
		url('../fonts/feathericons/feathericons.svg?-8is7zf#feathericons') format('svg');
}

.grid {
	position: relative;
	margin: 0 auto;
	padding: 1em 0 4em;
	max-width: 1000px;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 320px;
	max-width: 480px;
	max-height: 360px;
	width: 48%;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/* Individual effects */

/*---------------*/
/***** Lily *****/
/*---------------*/

figure.effect-lily img {
	max-width: none;
	width: -webkit-calc(100% + 50px);
	width: calc(100% + 50px);
	opacity: 0.7;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-40px,0, 0);
	transform: translate3d(-40px,0,0);
}

figure.effect-lily figcaption {
	text-align: left;
}

figure.effect-lily figcaption > div {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 2em;
	width: 100%;
	height: 50%;
}

figure.effect-lily h2,
figure.effect-lily p {
	-webkit-transform: translate3d(0,40px,0);
	transform: translate3d(0,40px,0);
}

figure.effect-lily h2 {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect-lily p {
	color: rgba(255,255,255,0.8);
	opacity: 0;
	-webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
	transition: opacity 0.2s, transform 0.35s;
}

figure.effect-lily:hover img,
figure.effect-lily:hover p {
	opacity: 1;
}

figure.effect-lily:hover img,
figure.effect-lily:hover h2,
figure.effect-lily:hover p {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-lily:hover p {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
	-webkit-transition-duration: 0.35s;
	transition-duration: 0.35s;
}

figure.effect-oscar {
	background: -webkit-linear-gradient(45deg, #22682a 0%, #9b4a1b 40%, #3a342a 100%);
	background: linear-gradient(45deg, #22682a 0%,#9b4a1b 40%,#3a342a 100%);
}

figure.effect-oscar img {
	opacity: 0.9;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-oscar figcaption {
	padding: 3em;
	background-color: rgba(58,52,42,0.7);
	-webkit-transition: background-color 0.35s;
	transition: background-color 0.35s;
}

figure.effect-oscar figcaption::before {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	border: 1px solid #fff;
	content: '';
}

figure.effect-oscar h2 {
	margin: 20% 0 10px 0;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

figure.effect-oscar figcaption::before,
figure.effect-oscar p {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0);
	transform: scale(0);
}

figure.effect-oscar:hover h2 {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-oscar:hover figcaption::before,
figure.effect-oscar:hover p {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-oscar:hover figcaption {
	background-color: rgba(58,52,42,0);
}

figure.effect-oscar:hover img {
	opacity: 0.4;
}

/*---------------*/
/***** Romeo *****/
/*---------------*/

figure.effect-romeo {
	-webkit-perspective: 1000px;
	perspective: 1000px;
}

figure.effect-romeo img {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,0,300px);
	transform: translate3d(0,0,300px);
}

figure.effect-romeo:hover img {
	opacity: 0.6;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-romeo figcaption::before,
figure.effect-romeo figcaption::after {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 80%;
	height: 1px;
	background: #fff;
	content: '';
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

figure.effect-romeo:hover figcaption::before {
	opacity: 0.5;
	-webkit-transform: translate3d(-50%,-50%,0) rotate(45deg);
	transform: translate3d(-50%,-50%,0) rotate(45deg);
}

figure.effect-romeo:hover figcaption::after {
	opacity: 0.5;
	-webkit-transform: translate3d(-50%,-50%,0) rotate(-45deg);
	transform: translate3d(-50%,-50%,0) rotate(-45deg);
}

figure.effect-romeo h2,
figure.effect-romeo p {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect-romeo h2 {
	-webkit-transform: translate3d(0,-50%,0) translate3d(0,-150%,0);
	transform: translate3d(0,-50%,0) translate3d(0,-150%,0);
}

figure.effect-romeo p {
	padding: 0.25em 2em;
	-webkit-transform: translate3d(0,-50%,0) translate3d(0,150%,0);
	transform: translate3d(0,-50%,0) translate3d(0,150%,0);
}

figure.effect-romeo:hover h2 {
	-webkit-transform: translate3d(0,-50%,0) translate3d(0,-100%,0);
	transform: translate3d(0,-50%,0) translate3d(0,-100%,0);
}

figure.effect-romeo:hover p {
	-webkit-transform: translate3d(0,-50%,0) translate3d(0,100%,0);
	transform: translate3d(0,-50%,0) translate3d(0,100%,0);
}

/*scrolling text*/

.scrolltext {
  padding: 2em 5em;
  font: normal 40px/50px Arial, sans-serif;
  color: #999;
}
.scrollpara{
  height: 50px;
  float: left;
  margin-right: 0.3em;
}
.scrollbold {
  float: left;
  overflow: hidden;
  position: relative;
  height: 50px;
}
.scrollspan1 {
 display: inline-block;
color: #e74c3c;
position: relative;
white-space: nowrap;
top: 0;
left: 0;
-webkit-animation: move 5s;
-webkit-animation-iteration-count: infinite;
-webkit-animation-delay: 1s;
}

@keyframes move {
0%  { top: 0px; }
20% { top: -50px; }
40% { top: -100px; }
60% { top: -150px; }
80% { top: -200px; }
}

/* 3D Transform. Craeted refering to Dudley Storey's Pen: https://codepen.io/dudleystorey/pen/KFLJp */
.tdimension {
	width: 300px;
	height: 300px;
	margin: 20px auto 40px auto;
	perspective: 1000px;
}
.tdimension a {
	display: block;
	width: 100%;
	height: 100%;
	background: url("img/Overlay_4_20170908_13_47_35.png");
	background-size: cover;
	transform-style: preserve-3d;
	transform: rotateX(70deg);
	transition: all 0.8s;	
}
.tdimension:hover a {
	transform: rotateX(20deg); 	
}	
.tdimension a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1));    
   	transform: rotateX(90deg);
    transform-origin: bottom;
}
/*png image hover effect*/





.row1 {
	margin-top: 12px;
}
#sepia img {
	display: block;
	width: 40%;
	height: 300px;
	align:center;
	margin: 0 auto;
}


#grayscale img {
	display: block;
	width: 40%;
	height: 300px;
	margin: 0 auto;
}

/* CSS Image Hover. Created refering to Naoya's Pen: https://codepen.io/nxworld/pen/ZYNOBZ */
/*Sepia*/
.column#sepia img {
	-webkit-filter: sepia(100%);
	filter: sepia(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.column#sepia:hover img {
	-webkit-filter: sepia(0);
	filter: sepia(0);
}

/*GrayScale*/
.column#grayscale img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.column#grayscale:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}



/*logo in side bar*/

.main {
    position:relative;
    width:150px;
    height:100px;
    border-radius:25%;
}
.main .wrapper {
    width: 90px;
    height: 90px;
    border-width: 10px;
    border-style: solid;
    border-color: 	 #ffe6cc #ff9933 #ff9933 #ffe6cc;
    border-radius: 50%;
    transition: all 0.8s ease-in-out 0s;
    position: absolute;
    top:0;
    left:20px;
}

.main img, .main .info {
    position:absolute;
    top:10px;
    right:0;
    bottom:0;
    left:30px;
    border-radius:75%;
    width:70px;
    height:70px;
    transition: all 0.8s ease-in-out 0s;
}

.main .info {
    text-align:center;
    padding:2px;
    background:#ccc;
    opacity:0;
    transition: all 0.8s ease-in-out 0s;
    backface-visibility:hidden;
}

.main a:hover  .wrapper {
    transform:rotate(180deg);
    transition: all 0.8s ease-in-out 0s;
}

.main a:hover img {
    opacity:0;
    transition: all 0.8s ease-in-out 0s;
}

.main a:hover .info {
    opacity:1;
    transition: all 0.8s ease-in-out 0s;
}

/*social media icons*/

@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
.social{
    text-align:center;
	font-size:8px;
    width:70px;
    height:70px;
    float:left;
    background:rgb(255,255,255);
    border:1px solid rgb(204,204,204);
    box-shadow:0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
    border-radius:100px;
    margin:0 10px 10px 0;
    padding:9px;
}
.google-pluse:hover{background:#DD4B39;color:#FFF;}
.facebook:hover{background:#3b5998;color:#FFF;}
.linkedin:hover{background:#0e76a8;color:#FFF;}

/*rhombus image to rectangle*/

@import url('https://fonts.googleapis.com/css?family=Amiri|Aref+Ruqaa|Cairo|Changa|El+Messiri|Harmattan|Jomhuria|Lateef|Mirza|Rakkas|Lato|Source+Sans+Pro|Ubuntu');
/* *{transition: 0.3s linear; padding:0;margin:0;} */

.container{
	margin: 3em auto;
	width: 90%;
	text-align: center;
/* 	font-family: 'Aref Ruqaa', serif; */
	font-family: 'Ubuntu', sans-serif;
/* font-family: 'Lato', sans-serif; */
font-family: 'Source Sans Pro', sans-serif;
	

}
.item {
/* 	background: #FFF; */
	margin: 2em;
	display: inline-block;
	width: 200px;
	height: 200px;
	border-radius: 20px;
	transform: rotate(45deg);
	position: relative;
	overflow: hidden;
	transition: all 0.3s ease-in-out;
	padding:0;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	margin: 0 auto;
}
.item p {
	position: absolute;
	transform: rotate(-45deg);
	top: 30%;
	left: -20%;
	background: rgba(0, 0, 0, 0.7);
	padding: 10px 20px;
	width:130%;
	text-align:center;
	color: #fff;
	transition: all 0.3s ease-in-out;
	
}

.item:hover {
	transform: none;
	transform: scale(1.5);
	z-index:2;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.item:hover > p {
	transform: none;
	top: 0;
	
}


.rhombi {
	width: 100%;
	height: 100%;
	transition: 0.3s linear;
	transform: rotate(-45deg) scale(1.4) 

	
}
.item:hover > img {
	transform: none;
	
}

p.ar {
font-family: 'Rakkas', cursive;
	font-size:1.1em;

}


body::-webkit-scrollbar
{
	width: 0.7em;
	background-color: #EEE;
}

body::-webkit-scrollbar-thumb{
/* 	background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%); */
	background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
/* 	background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%); */
/*   background: linear-gradient(to top, #2193b0, #6dd5ed);  */
	border-radius:1em;
}

/*hover slanding image*/
@import url(https://fonts.googleapis.com/css?family=Poppins:300,700);
.snip1581 {
  font-family: 'Poppins:400,700', Arial, sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 8px;
  min-width: 220px;
  max-width: 268px;  
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.snip1581 * {
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.snip1581 img {
  max-width: 100%;
  vertical-align: top;
}
.snip1581 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.8) 0%, transparent 100%);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, transparent 100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.snip1581 h3 {
  font-size: 44px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 3px 0;
}
.snip1581 .title1 {
  font-weight: 700;
}
.snip1581 .title2 {
  color: #a58e7c;
  font-weight: 300;
}
.snip1581 .title3 {
  font-weight: 700;
  font-size: 25px;
}
.snip1581 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.snip1581:hover img,
.snip1581.hover img {
  -webkit-transform: scale(1.3) rotate(5deg);
  transform: scale(1.3) rotate(5deg);
}

/*png image slider*/

.pngslide li {
    list-style-type:none;
    float:left;
    width:25%;
}
.pngslide:hover li {
    width:10%;
}
.pngslide:hover li figure {
    position:relative;
}
.pngslide:hover li figure figcaption {
    position:absolute;
    top:30%;
    right:0;
    display:none;
}
.pngslide li:hover {
    width:70%;
}
.pngslide li:hover figure figcaption {
    display:block;
}
.pngslide,
.pngslide:hover,
.pngslide li,
.pngslide li:hover {
    transition:all ease-out 0.3s;
}









